factory/node_modules
factory/build
factory/.secret
Oracle/node_modules
Oracle/.secret
router/node_modules
router/.secret
proxy/node_modules
proxy/.secret
/factory/truffle-config.js
/factory/.env
/router/.env
/router/truffle-config.js
/router/build